
<!DOCTYPE html>
<html>

<body>
    <div>
        <form action="/send-to-slack" method="POST">
            <h2 style="margin-top: 100px;">Send Slack notifications</h2>
            <div>
                <div>
                    <label for="exampleEmailInput">Your name</label>
                    <input type="text" name="name" placeholder="Name" required>
                    <button type="submit">Send to Slack</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>